<div style="margin-top: 88px;">
  <h1 style="font-size: 60px; color:rgb(26, 86, 175); font-weight: bold">
      <div style="position:relative; margin-bottom: 20px; left: 300px"> 알림 메세지를 받아보고 싶나요? </div>
      </h1>
      <h3 style="font-size: 30px; color:rgb(204, 0, 153); font-weight: bold">
          <div style="position:relative; margin-bottom: 20px; left: 500px"> 그렇다면 구독하세요! </div>
          </h3>
          <div style="position:relative; margin-top: 40px; left: 150px">
          <a href="contents-home.html">
            <img src="/Users/yongheon/desktop/git/infectionmonitoringsystem/django_monitoring/mainpage/templates/image/subscribe_mail.png"
            style="width:275px; height:275px"> </a>
              <img src="/Users/yongheon/desktop/git/infectionmonitoringsystem/django_monitoring/mainpage/templates/image/subscribe.png"
              style="margin-left : 100px; margin-top : 50px; width:250px; height:300px">
              <a href="contents-home.html">
              <img src="/Users/yongheon/desktop/git/infectionmonitoringsystem/django_monitoring/mainpage/templates/image/subscribe_kakao.png"
              style="margin-left : 100px; width:300px; height:300px"> </a> </div>

</div>
