    <div style="margin-top: 0">
    <h1 style="font-size: 60px; color:rgb(26, 86, 175); font-weight: bold">
        <div style="position:relative; margin-bottom: 40px; left: 300px">COVID -19 지금은 ...</div>
    </h1>
    <center>
    <table width="60%" height="200px" style="font-weight: bolder; text-align: center;" margin="auto" text-align="center">
        <th style="font-size: 20px">확진자</th><th style="font-size: 20px">완치자</th><th style="font-size: 20px">사망자</th><th style="font-size: 20px">치료중</th><th style="font-size: 20px">검사 완료</th>
        <tr><td id='TotalCase'>2000</td><td id='TotalRecovered'>2000</td><td id='TotalDeath'>2000</td><td id='NowCase'>2000<br></td><td id='TotalChecking'>2000</td>
        <tr><td id='data0_1' style="color:tomato">(+7)</td><td id='TodayRecovered' style="color:tomato">(+7)</td><td id='TodayDeath' style="color:teal">(+7)</td><td id='TodayCure' style="color:teal">(+7)</td><td id='TodayChecked' style="color:tomato">(+7)</td></tr>
    </table>

    <div style="margin-top: 10px; background-color:rgb(247, 183, 66); width: 1000px; height: 50px; text-align: center; color: white; vertical-align: middle"><b>신규 확진자<br>해외 유입: <span id='TotalNewFcase' style="color:orangered">+11</span>명/ 지역 발생: <span id='TotalNewCcase' style="color:orangered">+62</span>명</b></div>
    <div style="margin-top: 10px; width: 1200px; text-align: center"><b><span style="color:rgb(26, 86, 175)">오늘 서울의 거리두기 단계: </span><span style="color:orange">2단계</span></b></div>

    <table width="40%" style="text-align: center; margin-top: 15px" cellpadding: 5px>
        <th colspan="2" style="font-size: 18px">생활 방역 수칙</th>
        <tr><td>마스크 착용 의무화</td><td>일반 음식점 테이블 간 1m 거리 두기</td></tr>
        <tr><td>100인 이상 집회 금지</td><td>스포츠 행사: 30% 관중 내 입장 가능</td></tr>
    </table>
    </center>
</div>
<script>
    var coronaAPIData={{ result | safe }};
    var statisticDBData={{statisticDBValues | safe}};
    
    var sizeOfData=statisticDBData.length;

    // 통계값
    document.getElementById('TotalCase').innerText=statisticDBData[sizeOfData-1]['TotalCase']; //총 확진자
    document.getElementById('TotalDeath').innerText=statisticDBData[sizeOfData-1]['TotalDeath']; //총 사망자
    document.getElementById('TotalRecovered').innerText=statisticDBData[sizeOfData-1]['TotalRecovered']; //총 완치자
    document.getElementById('NowCase').innerText=statisticDBData[sizeOfData-1]['NowCase']; //치료중인 사람
    document.getElementById('TotalChecking').innerText=statisticDBData[sizeOfData-1]['TotalChecking']; // 검사완료 
    // document.getElementById('notcaseCount').innerText=statisticDBData[0]['notcaseCount']; // 결과 음성
    
    // 전일 대비 증가 수치 
    // 어제 대비 증가한 확진자 
    document.getElementById('data0_1').innerText='+'+statisticDBData[sizeOfData-1]['TodayCase'].toLocaleString(); // 어제 대비 증가한 확진자  
    // 어제 대비 증가한 사망자 계산
    var dead = statisticDBData[sizeOfData-1]['TotalDeath'].replace(/[^0-9]/g,'')- statisticDBData[sizeOfData-2]['TotalDeath'].replace(/[^0-9]/g,'');
    document.getElementById('TodayDeath').innerText='+'+dead.toLocaleString(); // 어제 대비 증가한 사망자
    // 어제 대비 증가한 완치자
    document.getElementById('TodayRecovered').innerText='+'+statisticDBData[sizeOfData-1]['TodayRecovered']; // 어제 대비 증가한 완치자
    // 어제 대비 증가한 치료중인 사람 계산
    var cure = statisticDBData[sizeOfData-1]['NowCase'].replace(/[^0-9]/g,'')- statisticDBData[sizeOfData-2]['NowCase'].replace(/[^0-9]/g,'');
    document.getElementById('TodayCure').innerText='+'+cure.toLocaleString(); // 어제 대비 증가한 치료중인 사람
    // 어제 대비 증가한 검사완료한 사람 계산
    var testDone = statisticDBData[sizeOfData-1]['TotalChecking'].replace(/[^0-9]/g,'')- statisticDBData[sizeOfData-2]['TotalChecking'].replace(/[^0-9]/g,'');
    document.getElementById('TodayChecked').innerText='+'+testDone.toLocaleString(); // 어제 대비 증가한 검사완료한 사람

    
    // 전일 대비 해외 유입/지역발생 수치 
    document.getElementById('TotalNewFcase').innerText='+'+coronaAPIData['korea']['newFcase'];
    document.getElementById('TotalNewCcase').innerText='+'+coronaAPIData['korea']['newCcase'];
</script>