<div style="margin-top: 0">
    <h1 style="font-size: 60px; color:rgb(26, 86, 175); font-weight: bold">
        <div style="position:relative; margin-bottom: 40px; left: 300px">COVID -19 지금은 ...</div>
    </h1>
    <center>
    <table width="60%" height="200px" style="font-weight: bolder; text-align: center;" margin="auto" text-align="center">
        <th style="font-size: 20px">확진자</th><th style="font-size: 20px">사망자</th><th style="font-size: 20px">격리자</th><th style="font-size: 20px">검사완료</th><th style="font-size: 20px">검사중</th><th style="font-size: 20px">결과 음성</th>
        <tr><td>2000<br><p style="color:tomato">(+7)</p></td><td>2000<br><p style="color:tomato">(+7)</p></td><td>2000<br><p style="color:teal">(+7)</p></td><td>2000<br><p style="color:teal">(+7)</p></td><td>2000<br><p style="color:tomato">(+7)</p></td><td>2000<br><p style="color:violet">(+7)</p></td></tr>
        <tr><td row span="3">화살표 이미지<br>이미지<br>이미지</td><td row span="3">화살표 이미지<br>이미지<br>이미지</td><td row span="3">화살표 이미지<br>이미지<br>이미지</td><td row span="3">화살표 이미지<br>이미지<br>이미지</td><td row span="3">화살표 이미지<br>이미지<br>이미지</td><td row span="3">화살표 이미지<br>이미지<br>이미지</td></tr>
    </table>

    <div style="margin-top: 10px; background-color:rgb(247, 183, 66); width: 1000px; height: 50px; text-align: center; color: white; vertical-align: middle"><b>신규 확진자<br>해외 유입: <span style="color:orangered">+11</span>명/ 지역 발생: <span style="color:orangered">+62</span>명</b></div>
    <div style="margin-top: 10px; width: 1200px; text-align: center"><b><span style="color:rgb(26, 86, 175)">오늘 서울의 거리두기 단계: </span><span style="color:orange">1단계(단계에 따라서 색 달라짐)</span></b></div>

    <table width="40%" style="text-align: center; margin-top: 15px" cellpadding: 5px>
        <th colspan="2" style="font-size: 18px">생활 방역 수칙</th>
        <tr><td>마스크 착용 의무화</td><td>일반 음식점 테이블 간 1m 거리 두기</td></tr>
        <tr><td>100인 이상 집회 금지</td><td>스포츠 행사: 30% 관중 내 입장 가능</td></tr>
    </table>
    </center>
</div>